* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Header Section */
header {
  min-width: 5.625rem;
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
}
header img {
  width: 9.375rem;
  height: auto;
  padding: 0.6rem;
}
/* Header Section End */
/* Hero Section */
main {
  width: 100%;
  height: 24.375rem;
  background-image: url(./image/page-title.jpg);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: center;
  color: white;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  margin-top: -1.2rem;
}
main h1 {
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main p {
  font-size: 1rem;
  line-height: 2;
}
/* Hero Section End */
/* Search Bar  */
.searchBar {
  margin-top: 0.3rem;
}
.searchContainer {
  width: 41.778rem;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchContainer input {
  padding: 0.8rem;
  width: 90%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: 0;
  border: 1px solid lightgray;
}
.searchContainer button {
  padding: 0.67rem;
  width: 8%;
  background-color: #fab234;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Search Bar End */
