* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Same layout */
.container {
  width: 65.8rem;
  margin: auto;
}
/* Header Section */
header {
  min-width: 5.625rem;
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
}
header img {
  width: 9.375rem;
  height: auto;
  padding: 0.6rem;
}
/* Header Section End */
/* Hero Section */
main {
  width: 100%;
  height: 24.375rem;
  background-image: url(./image/page-title.jpg);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: center;
  color: white;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  margin-top: -1.2rem;
}
main h1 {
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main p {
  font-size: 1rem;
  line-height: 2;
}
/* Hero Section End */
/* Search Bar  */
.searchBar {
  margin-top: 0.3rem;
}
.searchContainer {
  width: 41.778rem;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchContainer input {
  padding: 0.8rem;
  width: 90%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: 0;
  border: 1px solid lightgray;
}
.searchContainer button {
  padding: 0.67rem;
  width: 8%;
  background-color: #fab234;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Search Bar End */
/* Cart Section */
.cart {
  margin-top: 2.5rem;
  overflow: hidden;
  padding-bottom: 1rem;
  /* margin-bottom: 80px; */
}
.cart h2 {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}
.cartContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  /* text-align: center; */
  margin-top: 1rem;
}
.cartContainer .cartItem {
  /* background-color: blueviolet; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 10px 3px rgb(189, 187, 187);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartContainer .cartItem img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cartContainer .cartItem p {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #373e49;
}
.cartContainer h3,
p,
.contentBtn {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.cartContainer .cartItem h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cartContainer .contentBtn {
  display: flex;
  justify-content: end;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
}
.cartContainer .contentBtn button {
  background-color: #fab234;
  border: 0;
  color: white;
  padding: 0.8rem 1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* Cart Section End */
/* Footer Section */
footer {
  background-color: #373e49;
  color: white;
  height: 60px;
  display: grid;
  place-content: center;
  margin-top: 1rem;
  width: 100%;
}
.footerContainer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerContainer p {
  font-size: 0.9rem;
}
.footerContainer .socialIcons {
  display: flex;
  gap: 1rem;
}
.footerContainer .socialIcons i {
  cursor: pointer;
}
/* Footer Section end */

/* Media Query */
@media (max-width: 1200px) {
  .cartContainer {
    grid-template-columns: 16rem 16rem 16rem;
    place-content: center;
  }
  .container {
    width: 100%;
  }
  .footerContainer .content {
    gap: 35rem;
  }
}
@media (max-width: 992px) {
  main {
    background-size: cover;
    margin-top: 0;
  }
  main h1 {
    font-size: 2.7rem;
  }
  main p {
    font-size: 1rem;
  }
  .cartContainer {
    grid-template-columns: 15rem 15rem 15rem;
    place-content: center;
    gap: 0.5rem;
  }
  .footerContainer .content {
    gap: 23rem;
  }
}
@media (max-width: 768px) {
  main h1 {
    font-size: 2.4rem;
  }
  main p {
    font-size: 1rem;
  }
  .searchContainer {
    width: 33.778rem;
  }
  .cartContainer {
    grid-template-columns: 16rem 16rem;
    gap: 1rem;
  }
  .footerContainer .content {
    gap: 8rem;
  }
}
@media (max-width: 576px) {
  main h1 {
    font-size: 2.1rem;
  }
  main p {
    font-size: 0.9rem;
  }
  .searchContainer {
    width: 20.778rem;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchContainer input {
    padding: 0.7rem;
    width: 85%;
  }
  .searchContainer button {
    padding: 0.7rem;
    width: 12%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cartContainer {
    grid-template-columns: 16rem;
    gap: 1rem;
  }
  .footerContainer .content {
    gap: 1rem;
    flex-direction: column;
  }
}
/* Media Query End */
